body {
    background-color: #f8f9fa; /* Cor de fundo leve */
}

h2 {
    color: rgb(72, 65, 65);
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.navbar {
    margin-bottom: 20px; /* Espaço abaixo da barra de navegação */
    left: 100px;
 
    
}

.navbar-nav-custom .navbar-nav {
    padding-left: 70px; /* Aplique padding ao ul dentro da navbar-nav-custom */
    font-size: 25px;
    margin: 10px;
}

.nav-link {
    transition: background-color 0.2s ease, color 0.2s ease; /* Animações suaves */
}

.nav-link:hover {
    background-color: #e2e6ea; /* Cor de fundo ao passar o mouse */
    color: #99c2ee; /* Cor do texto ao passar o mouse */
}



.centered-image {
    display: block; /* Faz a imagem ser um bloco */
    margin-left: auto; /* Margem esquerda automática */
    margin-right: auto; /* Margem direita automática */
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Manter a proporção */
    
}



.container {
    max-width: 600px; /* Largura máxima do contêiner */
    padding: 30px; /* Padding do contêiner */
    
    background-color: white; /* Cor de fundo do contêiner */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.form-group {
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
   
   
   
}
.text-center {
  
     
    margin-top: 70px;
    margin-right: 500px; 

    float: right;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombreamento */
    border-radius: 5px; /* Opcional: bordas arredondadas */
  
}

.article {
    padding-left: 120px;
    margin-top: 70px;
    float: left;
    width: 30%; /* Aumente ou diminua conforme necessário */
    margin-right: 10px; 
}

.container-button{
    display: flex;
    justify-content: center;

}


.into{
    color: rgb(72, 65, 65); /* Cor azul para títulos */
}